# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [2]:
import pandas as pd

In [3]:
# your code here

retail_sales = pd.read_csv('../data/Retail Sales.csv')

In [93]:
retail_sales.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

# Null Values

In [69]:
# No null values in Year
retail_sales[retail_sales['YEAR'].isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, SUPPLIER, ITEM CODE, ITEM DESCRIPTION, ITEM TYPE, RETAIL SALES, RETAIL TRANSFERS, WAREHOUSE SALES]
Index: []

### Cleaning Suppliers

In [70]:
retail_sales[retail_sales['SUPPLIER'].isnull()]

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
19483,2017,6,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-9.0
20056,2017,8,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-5.0
32282,2017,6,NaN,BC,BEER CREDIT,REF,0.0,0.0,-58.0
32283,2017,6,NaN,WC,WINE CREDIT,REF,0.0,0.0,-8.0
45871,2017,8,NaN,BC,BEER CREDIT,REF,0.0,0.0,-699.0
45872,2017,8,NaN,WC,WINE CREDIT,REF,0.0,0.0,-5.0
46518,2017,9,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-9.0
59259,2017,9,NaN,BC,BEER CREDIT,REF,0.0,0.0,-502.0
59260,2017,9,NaN,WC,WINE CREDIT,REF,0.0,0.0,-15.0
59920,2017,10,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-6.0
72878,2017,10,NaN,BC,BEER CREDIT,REF,0.0,0.0,-1308.0
72879,2017,10,NaN,WC,WINE CREDIT,REF,0.0,0.0,-21.0
73546,2017,11,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-5.0
87410,2017,11,NaN,BC,BEER CREDIT,REF,0.0,0.0,-1755.0
87411,2017,11,NaN,WC,WINE CREDIT,REF,0.0,0.0,-375.0
88078,2017,12,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-8.0
101909,2017,12,NaN,BC,BEER CREDIT,REF,0.0,0.0,-1644.0
101910,2017,12,NaN,WC,WINE CREDIT,REF,0.0,0.0,-156.0
102542,2018,1,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-11.0
115254,2018,1,NaN,BC,BEER CREDIT,REF,0.0,0.0,-21.0
115255,2018,1,NaN,WC,WINE CREDIT,REF,0.0,0.0,-71.0
115874,2018,2,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-3.0
128353,2018,2,NaN,BC,BEER CREDIT,REF,0.0,0.0,-35.0
128354,2018,2,NaN,WC,WINE CREDIT,REF,0.0,0.0,-81.0

In [76]:
retail_sales[retail_sales['SUPPLIER'].isnull()]['YEAR'].count()

24

In [82]:
#retail_sales[retail_sales['ITEM CODE'] == 'BC']
#retail_sales[retail_sales['ITEM CODE'] == 'WC']
#retail_sales[retail_sales['ITEM CODE'] == '1279']
#retail_sales[retail_sales['ITEM TYPE'] == 'DUNNAGE']
retail_sales[retail_sales['ITEM TYPE'] == 'REF']

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
111,2017,4,Default,112,CORKSCREW,REF,0.00,13.00,0.0
2913,2017,10,Default,59978,STORE SPECIAL BEER QUART,REF,0.25,0.00,0.0
18994,2017,6,Default,112,CORKSCREW,REF,20.40,49.00,0.0
28632,2017,6,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,8.55,0.00,0.0
28634,2017,6,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,1.65,0.00,0.0
32282,2017,6,NaN,BC,BEER CREDIT,REF,0.00,0.00,-58.0
32283,2017,6,NaN,WC,WINE CREDIT,REF,0.00,0.00,-8.0
32576,2017,8,Default,112,CORKSCREW,REF,19.30,18.00,0.0
33165,2017,8,Default,140,WINE AERATOR-IN BOTTLE,REF,0.16,0.00,0.0
42287,2017,8,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,0.08,0.00,0.0
45871,2017,8,NaN,BC,BEER CREDIT,REF,0.00,0.00,-699.0
45872,2017,8,NaN,WC,WINE CREDIT,REF,0.00,0.00,-5.0
46148,2017,9,Default,112,CORKSCREW,REF,19.10,9.00,0.0
46714,2017,9,Default,140,WINE AERATOR-IN BOTTLE,REF,0.08,0.00,0.0
55655,2017,9,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,16.48,0.00,0.0
55657,2017,9,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,2.48,0.00,0.0
55658,2017,9,Default,59978,STORE SPECIAL BEER QUART,REF,0.74,0.00,0.0
59259,2017,9,NaN,BC,BEER CREDIT,REF,0.00,0.00,-502.0
59260,2017,9,NaN,WC,WINE CREDIT,REF,0.00,0.00,-15.0
59544,2017,10,Default,112,CORKSCREW,REF,20.40,12.00,0.0
60100,2017,10,Default,140,WINE AERATOR-IN BOTTLE,REF,0.00,0.00,0.0
69293,2017,10,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,0.04,0.00,0.0
69295,2017,10,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,2.13,0.00,0.0
72878,2017,10,NaN,BC,BEER CREDIT,REF,0.00,0.00,-1308.0
72879,2017,10,NaN,WC,WINE CREDIT,REF,0.00,0.00,-21.0
73160,2017,11,Default,112,CORKSCREW,REF,20.90,9.00,0.0
73687,2017,11,Default,140,WINE AERATOR-IN BOTTLE,REF,0.08,0.00,0.0
83750,2017,11,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,3.80,0.00,0.0
83751,2017,11,Default,59722,STORE SPECIAL WINE 10 LITER - 10L,REF,36.00,0.00,0.0
83752,2017,11,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,2.33,-0.08,0.0
87410,2017,11,NaN,BC,BEER CREDIT,REF,0.00,0.00,-1755.0
87411,2017,11,NaN,WC,WINE CREDIT,REF,0.00,0.00,-375.0
87703,2017,12,Default,112,CORKSCREW,REF,24.10,29.00,0.0
88223,2017,12,Default,140,WINE AERATOR-IN BOTTLE,REF,0.24,0.00,0.0
98228,2017,12,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,2.91,0.00,0.0
98229,2017,12,Default,59722,STORE SPECIAL WINE 10 LITER - 10L,REF,10.00,0.00,0.0
98230,2017,12,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,3.96,0.00,0.0
101909,2017,12,NaN,BC,BEER CREDIT,REF,0.00,0.00,-1644.0
101910,2017,12,NaN,WC,WINE CREDIT,REF,0.00,0.00,-156.0
102183,2018,1,Default,112,CORKSCREW,REF,16.10,13.00,0.0
102656,2018,1,Default,140,WINE AERATOR-IN BOTTLE,REF,0.08,0.00,0.0
111736,2018,1,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,1.98,0.00,0.0
111737,2018,1,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,5.16,0.00,0.0
111738,2018,1,Default,59978,STORE SPECIAL BEER QUART,REF,0.34,0.00,0.0
115254,2018,1,NaN,BC,BEER CREDIT,REF,0.00,0.00,-21.0
115255,2018,1,NaN,WC,WINE CREDIT,REF,0.00,0.00,-71.0
115521,2018,2,Default,112,CORKSCREW,REF,20.00,20.00,0.0
124724,2018,2,Default,59668,STORE SPECIAL WINE 355 ML - 355ML,REF,4.85,0.00,0.0
124725,2018,2,Default,59781,STORE SPECIAL WINE 750 ML - 750ML,REF,16.67,0.00,0.0
128353,2018,2,NaN,BC,BEER CREDIT,REF,0.00,0.00,-35.0
128354,2018,2,NaN,WC,WINE CREDIT,REF,0.00,0.00,-81.0

In [17]:
# No null values in Item Code
retail_sales[retail_sales['ITEM CODE'].isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, SUPPLIER, ITEM CODE, ITEM DESCRIPTION, ITEM TYPE, RETAIL SALES, RETAIL TRANSFERS, WAREHOUSE SALES]
Index: []

In [53]:
# No null values in Item Description
retail_sales[retail_sales['ITEM DESCRIPTION'].isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, SUPPLIER, ITEM CODE, ITEM DESCRIPTION, ITEM TYPE, RETAIL SALES, RETAIL TRANSFERS, WAREHOUSE SALES]
Index: []

### Cleaning Item Type

In [55]:
retail_sales[retail_sales['ITEM TYPE'].isnull()]

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
66439,2017,10,REPUBLIC NATIONAL DISTRIBUTING CO,347939,FONTANAFREDDA BAROLO SILVER LABEL 750 ML,NaN,0.0,0.0,1.0

In [32]:
retail_sales[retail_sales['ITEM CODE'] == '347939']

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
66439,2017,10,REPUBLIC NATIONAL DISTRIBUTING CO,347939,FONTANAFREDDA BAROLO SILVER LABEL 750 ML,NaN,0.0,0.0,1.0

In [48]:
retail_sales[retail_sales['SUPPLIER'] == 'REPUBLIC NATIONAL DISTRIBUTING CO'][['ITEM DESCRIPTION', 'ITEM TYPE']]

                            ITEM DESCRIPTION ITEM TYPE
5       MANISCHEWITZ CREAM WH CONCORD - 1.5L      WINE
17                    KINSEY BOURBON - 750ML    LIQUOR
64              TAYLOR LAKE COUNTRY RED - 3L      WINE
80                     OUR DAILY ZIN - 750ML      WINE
99         SEAGRAM'S GIN - EXTRA DRY - 100ML    LIQUOR
...                                      ...       ...
128284       SAPPORO DRAFT NR 12/CS - 20.3OZ      BEER
128287         MORETTI LAROSSA 4/6 NR - 12OZ      BEER
128297      PAULANER PREM LAGER 4/6NR - 12OZ      BEER
128299      PAULANER HEFEWEIZEN 4/6NR - 12OZ      BEER
128316           KINGFISHER LT 4/6 NR - 12OZ      BEER

[9847 rows x 2 columns]

In [44]:
retail_sales[retail_sales['SUPPLIER'] == 'REPUBLIC NATIONAL DISTRIBUTING CO']['ITEM TYPE'].value_counts()

WINE           7801
LIQUOR         1639
BEER            284
NON-ALCOHOL      85
KEGS             37
Name: ITEM TYPE, dtype: int64

In [54]:
retail_sales[retail_sales['ITEM DESCRIPTION'] == 'FONTANAFREDDA BAROLO SILVER LABEL 750 ML']

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
66439,2017,10,REPUBLIC NATIONAL DISTRIBUTING CO,347939,FONTANAFREDDA BAROLO SILVER LABEL 750 ML,NaN,0.0,0.0,1.0

In [68]:
retail_sales[retail_sales['ITEM DESCRIPTION'].str.contains('750 ML',case=True)]['ITEM TYPE'].value_counts()

WINE      513
LIQUOR     79
BEER       38
REF         8
Name: ITEM TYPE, dtype: int64

In [66]:
# It's a wine (according to wine-searcher.com)
retail_sales.loc[66439, 'ITEM TYPE'] = 'WINE'

In [67]:
retail_sales.loc[66439]

YEAR                                                    2017
MONTH                                                     10
SUPPLIER                   REPUBLIC NATIONAL DISTRIBUTING CO
ITEM CODE                                             347939
ITEM DESCRIPTION    FONTANAFREDDA BAROLO SILVER LABEL 750 ML
ITEM TYPE                                               WINE
RETAIL SALES                                               0
RETAIL TRANSFERS                                           0
WAREHOUSE SALES                                            1
Name: 66439, dtype: object

In [21]:
# No null values in Retail Sales
retail_sales[retail_sales['RETAIL SALES'].isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, SUPPLIER, ITEM CODE, ITEM DESCRIPTION, ITEM TYPE, RETAIL SALES, RETAIL TRANSFERS, WAREHOUSE SALES]
Index: []

In [24]:
# No null values in Retail Transfers
retail_sales[retail_sales['RETAIL TRANSFERS'].isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, SUPPLIER, ITEM CODE, ITEM DESCRIPTION, ITEM TYPE, RETAIL SALES, RETAIL TRANSFERS, WAREHOUSE SALES]
Index: []

In [83]:
# No null values in Warehouse Sales
retail_sales[retail_sales['WAREHOUSE SALES'].isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, SUPPLIER, ITEM CODE, ITEM DESCRIPTION, ITEM TYPE, RETAIL SALES, RETAIL TRANSFERS, WAREHOUSE SALES]
Index: []

### Aggregate per store

In [99]:
store_group = retail_sales.groupby(['SUPPLIER'])

In [100]:
retail_sales['SUPPLIER'].value_counts()

REPUBLIC NATIONAL DISTRIBUTING CO        9847
A VINTNERS SELECTIONS                    8716
LEGENDS LTD                              5494
SOUTHERN GLAZERS WINE AND SPIRITS        4713
E & J GALLO WINERY                       4669
                                         ...
VINIFERA DISTRIBUTING OF MARYLAND INC       1
URUGUAY IMPORTS LTD                         1
PACIFIC RIM WINEMAKERS                      1
BLACK ANKLE VINEYARDS LLC                   1
FIORE WINERY                                1
Name: SUPPLIER, Length: 333, dtype: int64

In [113]:
store_group = retail_sales.groupby(['SUPPLIER'])

In [114]:
# table for the aggregate per item
aggregate_per_store = store_group[['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']].sum()

In [115]:
aggregate_per_store

                            RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
SUPPLIER
8 VINI INC                          2.78              2.00             1.00
A HARDY USA LTD                     0.40              0.00             0.00
A I G WINE & SPIRITS               12.52              5.92           134.00
A VINTNERS SELECTIONS            8640.57           8361.10         29776.67
A&E INC                            11.52              2.00             0.00
...                                  ...               ...              ...
WINEBOW INC                         1.24             -1.58             0.00
YOUNG WON TRADING INC            1058.65           1047.40          2528.90
YUENGLING BREWERY                9628.35          10851.17         53805.32
Z WINE GALLERY IMPORTS LLC          8.83             11.25            16.00
ZURENA LLC                         16.15             20.67             0.00

[333 rows x 3 columns]

### Aggragate per item type

In [104]:
retail_sales['ITEM TYPE'].value_counts()

WINE            79078
LIQUOR          28397
BEER            16425
KEGS             3638
NON-ALCOHOL       628
STR_SUPPLIES      106
REF                51
DUNNAGE            32
Name: ITEM TYPE, dtype: int64

In [106]:
item_type_group = retail_sales.groupby(['ITEM TYPE'])

In [111]:
# table for the aggregate per item
aggregate_per_item_type = store_group[['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']].sum()

In [112]:
aggregate_per_item_type

              RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
ITEM TYPE
BEER             209763.11         234924.44       2437617.32
DUNNAGE               0.00              0.00        -45331.00
KEGS                  0.00              0.00         43558.00
LIQUOR           309847.85         334176.41         33173.32
NON-ALCOHOL        8109.97           9058.37          8656.72
REF                 281.34            171.92         -6754.00
STR_SUPPLIES        995.98           3594.70             0.00
WINE             313400.42         340710.51        433010.47